@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.pageHeaderGradient {
  background: rgb(0, 0, 3);
  background: linear-gradient(
    94deg,
    rgba(0, 0, 3, 0.04245448179271705) 0%,
    rgba(0, 0, 0, 0.7931547619047619) 68%,
    rgba(1, 10, 11, 0.5326505602240896) 100%
  );
}
